@use "./base.scss";

// put your custom CSS here!
/* Ensure no unwanted background or border */
.image-gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    border-radius: 8px; /* Adjust as needed */
    background-color: transparent; /* Ensure no background color */
    border: none; /* Ensure no border */
  }
  
  /* General gallery container styling */
  .image-gallery {
    display: grid;
    gap: 10px; /* Adjust spacing as needed */
    background-color: transparent; /* Ensure no background color */
    padding: 0; /* Ensure no padding */
    margin: 0; /* Ensure no margin */
  }
  